# modified from: /lib/systemd/system/nginx.service
# changes:
# - add user & group
# - add dependency on app.target
# --------------------------------------------------

# nginx signals reference doc:
# http://nginx.org/en/docs/control.html

[Unit]
Description=A high performance web server and a reverse proxy server
Documentation=man:nginx(8)
After=app.target network.target nss-lookup.target

[Service]
Type=forking
User=nginx
Group=nginx
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
