[Unit]
Description=secrets service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash /usr/bin/load_secrets

[Install]
WantedBy=multi-user.target
