.sign-in-form {
  max-width: 500px;
  margin: 0 auto;
  vertical-align: center;

  .title {
    text-align: center;
  }

  .email-field,
  .password-field {
    margin-bottom: 30px;
  }

  .toggle-field {
    margin-bottom: 20px;
  }

  .submit-button {
    margin-top: 10px;
  }
}