# keep in sync with .gitignore
.env
.idea
.trigger
flamescope.json
*.pdf

# dotfiles
.git
**/.DS_Store
**/.aws-sam
**/.terraform

# rust build files
**/target
**/benches/data
**/*.rs.bk

# JS build files
**/.storybook
**/.cache
**/dist
**/node_modules
**/out

# swift build files
**/Pods
