<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ site_name }}</title>

        <link rel="stylesheet" type="text/css" href="./assets/style.css" />
        <!-- <link rel="icon" href="./assets/favicon.svg"> -->
        <!-- <link rel="apple-touch-icon" href="./assets/icon-180.png"> -->
    </head>
    <body>
        <h2>Posts</h2>
        <ul>{% for post in posts %}
            <li><a href="/{{ post.path }}">{{ post.name }}</a></li>{% endfor %}
        </ul>
    </body>
</html>
