<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>{{ title }} | {{ site_name }}</title>

        <link rel="stylesheet" type="text/css" href="./assets/style.css" />
        <!-- <link rel="icon" href="./assets/favicon.svg"> -->
        <!-- <link rel="apple-touch-icon" href="./assets/icon-180.png"> -->
    </head>
    <body>
        {{ content }}
    </body>
</html>
