/* stylelint-disable at-rule-no-unknown */
@use "sass:color";

$base-font-size: 1.4rem;
$base-font-color: hsl(0, 0%, 20%);
$base-font-weight: 300;
$base-line-height: 1.6;
$base-background-color: hsl(0, 0%, 93%);

$header-font-weight: 500;
$h1-font-size: 3.9rem;
$h1-line-height: 1.2;
$h2-font-size: 3.4rem;
$h2-line-height: 1.25;
$h3-font-size: 2.9rem;
$h3-line-height: 1.3;
$h4-font-size: 2.6rem;
$h4-line-height: 1.35;
$h5-font-size: 2.4rem;
$h5-line-height: 1.5;
$h6-font-size: 2.2rem;
$h6-line-height: 1.4;

$code-font-size: 1rem;
$code-bg-color: #f4f5f6;
$code-border-color: #5680cc;

$link-font-color-default: #5680cc;
$link-font-color-active: #595959;
$button-color-default: hsl(219, 54%, 57%);
$button-color-active: color.adjust($button-color-default, $lightness: -15%);
$button-color-default-inverted: hsl(0, 0%, 100%);
$button-font-size: 1.1rem;
$button-font-weight: 700;
$button-letter-spacing: 0;
$button-line-height: 1.5rem;
$label-font-size: 1.6rem;
$label-font-weight: 700;
$input-border-color-default: #d1d1d1;
$input-border-color-active: #5680cc;

$hr-border-color: #f4f5f6;
$blockquote-border-color: #d1d1d1;
$table-cell-border-color: #e1e1e1;

// App-specific styling
$nav-header-bg-color: rgba(245, 245, 245, 0.75);
//$nav-header-bg-color: rgba(255, 255, 255, 0.9);
$nav-header-border-color: rgba(170, 170, 170, 0.7);

// Components
$tile-radius: 0.5rem;
$spinner-color-default: #ccc;
$spinner-color-active: #5680cc;
$alert-color-main: hsl(352, 100%, 50%);
$alert-color-accent: hsl(352, 100%, 65%);

// dark mode color scheme
// TODO:
//  $base-font-color: #595959;
//  $code-bg-color: #f4f5f6;
//  $code-border-color: #5680cc;
//  $link-font-color-default: #5680cc;
//  $link-font-color-active: #595959;
//  $button-color-default: #5680cc;
//  $button-color-active: #595959;
//  $input-border-color-default: #d1d1d1;
//  $input-border-color-active: #5680cc;
//  $hr-border-color: #f4f5f6;
//  $blockquote-border-color: #d1d1d1;
//  $table-cell-border-color: #e1e1e1;
