/******************************************************************************
*
*   UTILITY CLASSES
*
*   Some helpful utility classes.
*
******************************************************************************/

.table-container {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

wbr {
  display: block;
}

.story-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  > li,
  > div,
  > ul {
    flex: 0 1 auto;
    align-self: center;
  }
}

.fade-in {
  transition: 0.05s linear opacity;
  opacity: 1;
  z-index: 100;
}

.fade-out {
  transition: 0.05s linear opacity;
  opacity: 0;
}
