.app-container {
  & > main {
    // TODO: use CSS grid instead (for potentially faster layout)
    max-width: calc(100vw - 240px);
    position: relative;
    left: 200px;
    margin: 0 20px;
  }

  .section-header {
    margin: 0 -1em;
    margin-bottom: 1em;
    font-size: 1.1em;
    padding: 2px 1em;
    background: var(--box-bg-color);
  }
}


@media screen and (max-width: 768px) {

  .app-container {
    main {
      max-width: none;
      top: 50px;
      left: 0;
    }
  }
}
