.app-container {
  main {
    // TODO: use CSS grid instead (for potentially faster layout)
    max-width: calc(100vw - 200px);
    position: relative;
    left: 200px;
  }

  .section-header {
    padding: 10px 1em;
    background: var(--box-bg-color);
  }
}


@media screen and (max-width: 768px) {

  .app-container {
    main {
      max-width: none;
      top: 50px;
      left: 0;
    }
  }
}
