.app-container {
  & > main {
    // TODO: use CSS grid instead (for potentially faster layout)
    max-width: calc(100vw - 240px);
    position: relative;
    left: 200px;
    margin: 0 20px;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.1em;
    margin: 0 -1.1em;
    margin-bottom: 1em;
    background: var(--box-bg-color);

    h2 {
      font-size: 1.1em;
      padding: 0;
      margin: 0;
    }
  }

  .actions-list {
    display: inline-flex;
    margin: 0;

    li {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}


@media screen and (max-width: 768px) {

  .app-container {
    main {
      max-width: none;
      top: 50px;
      left: 0;
    }
  }
}
