@import '../config';

.header {
  &.fixed {
    position: fixed;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 75%;
  }

  h1 {
    display: inline-block;
    font-size: $h2-font-size;
  }
}

.app-container {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem 2.5rem;
    background: $nav-header-bg-color;
    display: flex;
    z-index: 10000;

    & > a {
      flex: 0 1 auto;
      display: none;
    }

    & > a,
    ul{
      align-items: center;
    }
  }

  main {
    padding: 0 2.5rem;
    min-height: 100vh;
    background: #eeeeee;
  }
}

.nav-section-list {
  flex: 1;

  ul {
    flex: 1;
    margin: 0;
    display: none;
    justify-content: center;
  }

  li {
    margin: 0 2rem;

    a {
      &.active {
        color: $link-font-color-active;
      }
    }
  }

  select {
    display: inline-flex;
    flex: 1;
    margin: 0 1rem;
    padding: 0 1rem;
    height: 2.5rem;
    justify-items: center;
  }
}

@media (min-width: 35rem) {
  .app-container nav > a {
    display: inline;
  }

  .nav-section-list {
    select {
      display: none;
    }
    ul {
      display: flex;
    }
  }
}

.nav-action-list {
  flex: 0 1 auto;

  li {
    margin: 0 2rem;
    //a {}
  }
}
