$navigation-menu-header-height: 50px;
$navigation-menu-mobile-max-height: 350px;
$navigation-menu-brand-top-margin: 3px;

.nav-bar, .nav-sidebar {
  width: 100%;
  height: $navigation-menu-header-height;
  line-height: $navigation-menu-header-height;
  text-align: center;

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }

  ul {
    list-style: none;
  }

  .brand {
    font-weight: 900;
    text-transform: uppercase;
    line-height: $navigation-menu-header-height - $navigation-menu-brand-top-margin;
    width: auto;
    float: left;
    z-index: 5;
    margin: $navigation-menu-brand-top-margin 0 0 5%;

    a {
      color: var(--main-text-color);
    }
  }

  .menu {
    width: 60%;
    height: 100%;
    float: right;

    & > div {
      display: flex;
    }

    .nav-section-list, .nav-action-list {
      min-width: 83.33%;
      height: inherit;
      margin: 0;
      padding: 0;
      display: inline-flex;

      li {
        display: inline-flex;
        flex-grow: 1;

        &.mobile-only {
          display: none;
        }
      }

      a, button {
        display: inline-block;
        width: 100%;
        height: inherit;
        text-align: center;
        transition: background-color 0.2s;
      }
    }

    .nav-action-list {
      min-width: 16.67%;
    }
  }

  #menuToggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }


  @media screen and (max-width: 768px) {
    .menu {
      width: 100%;
      height: auto;
      box-shadow: inset 0 0 rgba(0, 0, 0, 0.75);
      display: block;

      & > div {
        position: fixed;
        display: block;
        top: $navigation-menu-header-height;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.3s;
      }

      .nav-section-list,
      .nav-action-list {
        display: block;

        li {
          display: block;
          height: $navigation-menu-header-height;
          margin: 0;
          width: 100%;

          &.desktop-only {
            display: none;
          }
          &.mobile-only {
            display: block;
          }
        }

        a, button {
          text-align: left;
          transition: background-color 0.2s;
          padding: 0 5%;
          vertical-align: center;
        }
      }
    }

    .menu-icon {
      width: 100px;
      height: inherit;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      line-height: $navigation-menu-header-height;
      cursor: pointer;
    }

    #menuToggle:checked ~ div {
      max-height: $navigation-menu-mobile-max-height;
    }
  }

  // ---------- COLORS ---------- //
  // TODO: clean up & refactor to use predefined color variables

  .menu ul {
    a, button {
      background-color: rgba(0, 0, 0, 0);
      color: var(--main-text-color);

      &.active, &:focus, &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: var(--main-text-color);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .menu ul {
      a, button {
        background-color: rgba(0, 0, 0, 0.5);

        &.active,
        &:focus,
        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .menu ul {
      a, button {
        &.active, &:hover {
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    @media screen and (max-width: 768px) {
      .menu ul {
        a, button {
          background-color: rgba(0, 0, 0, 0.3);

          &.active,
          &:focus,
          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}

.nav-sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.05);

  .brand {
    max-width: 180px;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    line-height: $navigation-menu-header-height - $navigation-menu-brand-top-margin;
    width: auto;
    float: left;
    z-index: 5;
    margin: $navigation-menu-brand-top-margin 0 0 20px;
  }

  .menu {
    width: 100%;
    height: calc(100vh - 75px);
    float: left;
    overflow-y: auto;
    overflow-x: hidden;

    & > div {
      display: block;
    }

    .nav-section-list, .nav-action-list {
      width: 200px;
      height: 100%;
      margin: 0;
      padding: 0;
      display: block;
      clear: both;
      float: left;

      li {
        display: block;
        margin: 0;
        height: 46px;

        &.mobile-only {
          display: none;
        }
      }

      a, button {
        width: calc(100% - 10px);
        text-align: left;
        font-weight: bold;
        margin-left: 10px;
        padding: 5px 10px;
        line-height: 36px;
        border-radius: 5px 0 0 5px;

        .icon {
          line-height: 16px;
          vertical-align: middle;
          padding-right: 8px;
        }

        &:focus, &:hover {
          background-color: var(--grey1);
        }
        &.active{
          background-color: var(--blue1);
          color: var(--main-text-color);
          box-shadow: inset 0 1px 0 var(--blue2), 0 1px 2px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .nav-action-list {
      height: auto;
      position: absolute;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav-sidebar {
    width: 100%;
    max-width: none;
    z-index: 5;

    .menu {
      .nav-action-list {
        position: static;
      }
      .nav-action-list, .nav-section-list {
        max-width: none;
        width: 100%;

        a, button {
          width: 100%;
          border-radius: 0;
        }
      }
    }
  }
}

@media screen and (max-height: 410px) {
  .nav-sidebar .menu .nav-action-list {
    position: static;
  }
}
