$navigation-menu-header-height: 50px;
$navigation-menu-mobile-max-height: 350px;
$navigation-menu-brand-top-margin: 3px;

header {
  width: 100%;
  height: $navigation-menu-header-height;
  line-height: $navigation-menu-header-height;
  text-align: center;

  a {
    text-decoration: none;
  }

  button {
    border: 0;
  }

  ul {
    list-style: none;
  }
}


.brand {
  font-weight: 900;
  text-transform: uppercase;
  line-height: $navigation-menu-header-height - $navigation-menu-brand-top-margin;
  width: auto;
  float: left;
  z-index: 5;
  margin: $navigation-menu-brand-top-margin 0 0 5%;

  a {
    color: var(--main-text-color);
  }
}

.menu {
  width: 60%;
  height: 100%;
  float: right;

  & > div {
    display: flex;
  }

  .nav-section-list, .nav-action-list {
    min-width: 83.33%;
    height: inherit;
    margin: 0;
    padding: 0;
    display: inline-flex;

    li {
      display: inline-flex;
      flex-grow: 1;

      &.mobile-only {
        display: none;
      }
    }

    a, button {
      display: inline-block;
      width: 100%;
      height: inherit;
      text-align: center;
      transition: background-color 0.2s;
    }
  }

  .nav-action-list {
    min-width: 16.67%;
  }
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    box-shadow: inset 0 0 rgba(0, 0, 0, 0.75);
    display: block;

    & > div {
      position: fixed;
      display: block;
      top: $navigation-menu-header-height;
      max-height: 0;
      overflow: hidden;
      width: 100%;
      transition: max-height 0.3s;
    }

    .nav-section-list,
    .nav-action-list {
      display: block;

      li {
        display: block;
        height: $navigation-menu-header-height;
        margin: 0;
        width: 100%;

        &.desktop-only {
          display: none;
        }
        &.mobile-only {
          display: block;
        }
      }

      a, button {
        text-align: left;
        transition: background-color 0.2s;
        padding: 0 5%;
        vertical-align: center;
      }
    }
  }

  .menu-icon {
    width: 100px;
    height: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    line-height: $navigation-menu-header-height;
    cursor: pointer;
  }

  #menuToggle:checked ~ div {
    max-height: $navigation-menu-mobile-max-height;
  }
}

// ---------- COLORS ---------- //
// TODO: clean up & refactor to use predefined color variables

.menu ul {
  a, button {
    background-color: rgba(0, 0, 0, 0);
    color: var(--main-text-color);

    &.active, &:focus, &:hover{
      background-color: rgba(0, 0, 0, 0.2);
      color: var(--main-text-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .menu ul {
    a, button {
      background-color: rgba(0, 0, 0, 0.2);

      &.active,
      &:focus,
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .menu ul {
    a, button {
      &.active, &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .menu ul {
      a, button {
        background-color: rgba(0, 0, 0, 0.3);

        &.active,
        &:focus,
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}

