.sign-in-form {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 4rem);

  .alert {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -55px;
  }

  & > div {
    min-width: 85%;
    height: auto;
    margin: auto;
    position: relative;

    h1 {
      text-align: center;
    }

    .email-field,
    .password-field {
      margin-bottom: 30px;
    }

    .toggle-field {
      margin-bottom: 20px;
    }

    .submit-button {
      margin-top: 10px;
    }
  }
}

@media all and (min-width: 520px) {
  .sign-in-form > div {
    min-width: 0;
    width: 450px;
  }
}
