
:root {
  --main-bg-color: #fdfdfd;
  --main-text-color: rgba(0, 0, 0, 0.85);
  --primary-accent-color: hsl(269, 100%, 70%);
  --secondary-accent-color: hsl(269, 100%, 50%);
  --h1-shadow-color: rgba(0, 0, 0, 0.05);
  --h2-shadow-color: rgba(0, 0, 0, 0.04);
  --h3-shadow-color: rgba(0, 0, 0, 0.03);
  --h4-shadow-color: rgba(0, 0, 0, 0.03);
  --blockquote-border-color: rgba(0, 0, 0, 0.15);
  --code-bg-color: rgba(0, 0, 0, 0.08);
  --code-text-color: #111;
  --kbd-bg-color: #f7f7f7;
  --kbd-shadow-color: rgba(0, 0, 0, 0.45);
  --pre-bg-color: #eee;
  --pre-border-color: rgba(0, 0, 0, 0.15);
  --footnotes-border-color: rgba(0, 0, 0, 0.15);
  --input-border-color_default: rgba(0, 0, 0, 0.85);
  --input-border-color_focus: rgba(255, 255, 255, 0.4);
  --input-border-color_error: rgba(255, 0, 0, 0.4);
  --input-border-color_focus_error: rgba(255, 0, 0, 0.6);
  --button-bg-color_default: rgba(0, 0, 0, 0.85);
  --button-bg-color_hover: rgba(0, 0, 0, 0.75);
  --button-bg-color_active: rgba(0, 0, 0, 0.65);
  --button-border-color_hover: rgba(0, 0, 0, 0.65);
  --button-border-color_active: rgba(0, 0, 0, 0.45);
  --alert-bg-color: hsl(50, 100%, 74%);
  --alert-shadow-color: transparent;
  --box-bg-color: hsl(170, 61%, 89%);
  --box-shadow-color: transparent;
  --note-bg-color: hsl(311, 63%, 86%);
  --note-shadow-color: transparent;

  // ------ Apple colors: ------
  --rgb-color-red: #ff3b30;
  --color-red: hsl(3, 100%, 59.4%);
  --rgb-color-orange: #ff9500;
  --color-orange: hsl(35, 100%, 50%);
  --rgb-color-yellow: #fc0;
  --color-yellow: hsl(48, 100%, 50%);
  --rgb-color-green: #34c759;
  --color-green: hsl(135, 58.6%, 49.2%);
  --rgb-color-teal: #5ac8fa;
  --color-teal: hsl(198, 94.1%, 66.7%);
  --rgb-color-blue: #007aff;
  --color-blue: hsl(211, 100%, 50%);
  --rgb-color-indigo: #5856d6;
  --color-indigo: hsl(240, 61%, 58.8%);
  --rgb-color-purple: #af52de;
  --color-purple: hsl(279, 68%, 59.6%);
  --rgb-color-pink: #ff2d55;
  --color-pink: hsl(348, 100%, 58.8%);
  --rgb-color-grey: #8e8e93;
  --color-grey: hsl(240, 2.3%, 56.7%);
  --rgb-color-grey2: #aeaeb2;
  --color-grey2: hsl(240, 2.5%, 69%);
  --rgb-color-grey3: #c7c7cc;
  --color-grey3: hsl(240, 4.7%, 79%);
  --rgb-color-grey4: #d1d1d6;
  --color-grey4: hsl(240, 5.7%, 82.9%);
  --rgb-color-grey5: #e5e5ea;
  --color-grey5: hsl(240, 10.6%, 90.8%);
  --rgb-color-grey6: #f2f2f7;
  --color-grey6: hsl(240, 23.8%, 95.9%);
  --color-material-primary: #6505ee;
  --color-material-secondary: #07868a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #111;
    --main-text-color: rgba(255, 255, 255, 0.85);
    --primary-accent-color: hsl(269, 100%, 70%);
    --secondary-accent-color: hsl(269, 100%, 50%);
    --h1-shadow-color: rgba(0, 0, 0, 0.5);
    --h2-shadow-color: rgba(0, 0, 0, 0.4);
    --h3-shadow-color: rgba(0, 0, 0, 0.3);
    --h4-shadow-color: rgba(0, 0, 0, 0.3);
    --blockquote-border-color: rgba(255, 255, 255, 0.15);
    --code-bg-color: #444;
    --code-text-color: #eee;
    --kbd-bg-color: #333;
    --kbd-shadow-color: hsla(269, 100%, 80%, 0.5);
    --pre-bg-color: #444;
    --pre-border-color: rgba(255, 255, 255, 0.15);
    --footnotes-border-color: rgba(255, 255, 255, 0.15);
    --input-border-color_default: rgba(255, 255, 255, 0.85);
    --input-border-color_focus: rgba(255, 255, 255, 0.4);
    --input-border-color_error: rgba(255, 0, 0, 0.4);
    --input-border-color_focus_error: rgba(255, 0, 0, 0.6);
    --button-bg-color_default: rgba(255, 255, 255, 0.85);
    --button-bg-color_hover: rgba(255, 255, 255, 0.8);
    --button-bg-color_active: rgba(255, 255, 255, 0.75);
    --button-border-color_hover: rgba(255, 255, 255, 0.25);
    --button-border-color_active: rgba(255, 255, 255, 0.15);
    --alert-bg-color: rgba(255, 0, 0, 0.4);
    //--alert-shadow-color: hsl(50, 100%, 65%);
    --alert-shadow-color: transparent;
    --box-bg-color: #222;
    --box-shadow-color: hsl(170, 61%, 65%);
    --note-bg-color: #222;
    --note-shadow-color: hsl(311, 63%, 65%);

    // ------ Apple colors: ------
    --rgb-color-red: #ff3b30;
    --color-red: hsl(3, 100%, 59.4%);
    --rgb-color-orange: #ff9f0a;
    --color-orange: hsl(36, 100%, 52%);
    --rgb-color-yellow: #ffd60a;
    --color-yellow: hsl(50, 100%, 52%);
    --rgb-color-green: #32d74b;
    --color-green: hsl(129, 67.3%, 52%);
    --rgb-color-teal: #64d2ff;
    --color-teal: hsl(197, 100%, 69.6%);
    --rgb-color-blue: #0a84ff;
    --color-blue: hsl(210, 100%, 52%);
    --rgb-color-indigo: #5e5ce6;
    --color-indigo: hsl(240, 73.4%, 63.1%);
    --rgb-color-purple: #bf5af2;
    --color-purple: hsl(279, 85.4%, 65.1%);
    --rgb-color-pink: #ff375f;
    --color-pink: hsl(348, 100%, 60.8%);
    --rgb-color-grey: #8e8e93;
    --color-grey: hsl(240, 2.3%, 56.7%);
    --rgb-color-grey2: #636366;
    --color-grey2: hsl(240, 1.5%, 39.4%);
    --rgb-color-grey3: #48484a;
    --color-grey3: hsl(240, 1.4%, 28.6%);
    --rgb-color-grey4: #3a3a3c;
    --color-grey4: hsl(240, 1.7%, 23.1%);
    --rgb-color-grey5: #2c2c2e;
    --color-grey5: hsl(240, 2.2%, 17.6%);
    --rgb-color-grey6: #1c1c1e;
    --color-grey6: hsl(240, 3.4%, 11.4%);
    --color-material-primary: #ba85fc;
    --color-material-secondary: #03dac6;
  }
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a {
  color: var(--primary-accent-color);
}

h1 {
  text-shadow: 1px 1px 5px var(--h1-shadow-color);
}

h2 {
  text-shadow: 1px 1px 4px var(--h2-shadow-color);
}

h3 {
  text-shadow: 1px 1px 3px var(--h3-shadow-color);
}

h4,
h5,
h6 {
  text-shadow: 1px 1px 1px var(--h4-shadow-color);
}

blockquote {
  border-color: var(--blockquote-border-color);
}

code,
kbd,
pre {
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
}

kbd {
  background-color: var(--kbd-bg-color);
  box-shadow: 0 0 4px 0 var(--kbd-shadow-color);
}

pre {
  background-color: var(--pre-bg-color);
  border-color: var(--pre-border-color);
}

.footnotes {
  border-color: var(--footnotes-border-color);
}

// ---------- ALERT BOXES ---------- //

.alert {
  background-color: var(--alert-bg-color);
  box-shadow: 0 0 5px var(--alert-shadow-color);
}

.note {
  background-color: var(--note-bg-color);
  box-shadow: 0 0 5px var(--note-shadow-color);
}

.box {
  background-color: var(--box-bg-color);
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.bg-color-red {
  background-color: var(--color-red);
}

.bg-color-orange {
  background-color: var(--color-orange);
}

.bg-color-yellow {
  background-color: var(--color-yellow);
}

.bg-color-green {
  background-color: var(--color-green);
}

.bg-color-teal {
  background-color: var(--color-teal);
}

.bg-color-blue {
  background-color: var(--color-blue);
}

.bg-color-indigo {
  background-color: var(--color-indigo);
}

.bg-color-purple {
  background-color: var(--color-purple);
}

.bg-color-pink {
  background-color: var(--color-pink);
}

.bg-color-grey {
  background-color: var(--color-grey);
}

.bg-color-grey2 {
  background-color: var(--color-grey2);
}

.bg-color-grey3 {
  background-color: var(--color-grey3);
}

.bg-color-grey4 {
  background-color: var(--color-grey4);
}

.bg-color-grey5 {
  background-color: var(--color-grey5);
}

.bg-color-grey6 {
  background-color: var(--color-grey6);
}
