@import 'config';

.header {
  //.d-flex
  //.justify-content-between
  //.flex-wrap
  //.flex-md-nowrap
  //.align-items-center
  //.pt-3
  //.pb-2
  //.mb-3
  //.border-bottom

  &.fixed {
    position: fixed;
    z-index: 1;
    background: #fff;
    box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 1);
    width: 100%;
    max-width: 75%;
  }

  h1 {
    display: inline-block;
    font-size: $h2-font-size;
  }
}

.header-elements {
  //.form-inline
}

.header-element {
  // .ml-2
  // .float-left
}

.app-container {
  margin: 0 2.5rem;

  nav {
    display: flex;
    align-content: space-around;
    // .navbar
    // .navbar-dark
    // .fixed-top
    // .bg-dark
    // .flex-md-nowrap
    // .p-0
    // .shadow

    & > a {
      // .navbar-brand
      // .col-sm-3
      // .col-md-2
      // .mr-0
      flex: 0 1 auto;
    }

    & > a,
    & > ul {
      display: inline-flex;
    }
  }

  main {
    // .container-fluid
    // .row
    // .col-md-9
    // .ml-sm-auto
    // .col-lg-10
    // .px-4
  }
}

.nav-section-list {
  flex: 1;
  margin: 0 5rem;

  li {
    flex: 1;
    display: flex;
    justify-content: space-around;

    a {
      &.active {
        color: $link-font-color-active;
      }
    }
  }
}

.nav-action-list {
  flex: 0 1 auto;

  li {
    a {
      // TODO: make it smaller
    }
  }
}
