/* Derived from: https://css-tricks.com/the-checkbox-hack/ */

.task {
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
  }

  [type="checkbox"]:not(:checked) + label::before,
  [type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  [type="checkbox"]:not(:checked) + label::after,
  [type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    background: #aaa;
    border: 2px solid #aaa;
    transition: all 0.2s;
    border-radius: 4px;
  }

  [type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0);
  }

  [type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1);
  }

  [type="checkbox"]:disabled:not(:checked) + label::before,
  [type="checkbox"]:disabled:checked + label::before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }

  [type="checkbox"]:disabled:checked + label::after {
    background-color: #999 !important;
  }

  [type="checkbox"]:disabled + label {
    color: #aaa;
  }

  [type="checkbox"]:checked:focus + label::before,
  [type="checkbox"]:not(:checked):focus + label::before,
  [type="checkbox"]:checked:focus + label::after,
  [type="checkbox"]:not(:checked):focus + label::after {
    border: 2px dotted blue;
  }

  [type="checkbox"] + label:active::after,
  [type="checkbox"] + label:active::before {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  label {
    width: 100%;

    span {
      display: inline-block;
      width: 100%;
      transition: 0.5s ease opacity;

      &.completed {
        opacity: 0.5;
        text-decoration: line-through;
        animation: strike 0.5s ease;
      }
    }

    input {
      font-size: 0.85em;
      width: 100%;
    }
  }
}

@keyframes strike {
  from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

ul > li.add_child_task {
  position: absolute;
  margin-left: -2.5rem;
  margin-top: -0.4rem;
  opacity: 0;
  transition: 0.5s ease opacity;
}

ul:hover > li.add_child_task {
  opacity: 1;
}

.drag.before {
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 0 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

// .child_task_list:before {
//   content: '';
//   position: absolute;
//   top: -1rem;
//   left: 0;
//   bottom: 0;
//   border-left: 1px #ddd solid;
// }
